.logo {
    font-family: 'Nova Square', cursive;
}
.bg1 {
    background-image: url('https://i.ibb.co/qChYVgk/Daredevil-Desktop-1600x900.jpg');
    background-repeat: no-repeat;
}

.bg2{
    background-color: #f5f5f5;
}
.bg3 {
    background-image: url('https://i.ibb.co/vmsM2Kh/Tough-Built-Desktop-1600x900-v2.jpg');
    background-repeat: no-repeat;
}
.bgsm {
    background-image: url('https://i.ibb.co/4JSTxfw/bannersm.jpg');
    background-repeat: no-repeat;
}
.active{
    padding-bottom: 5px;
    background-color: transparent;
    border-bottom: 4px solid black;
    border-radius: 0px;
}
.active2{
    background-color: rgb(254 226 226);
}
.errorbanner{
    background-image: url('https://i.ibb.co/jhgCY33/error.jpg');
    background-repeat: no-repeat;
}